<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{name}}" property="og:title">
    <meta content="{{pronouns}}" property="og:description">
    <meta content="{{icon}}" property="og:image">
    <meta content="{{color}}" name="theme-color">
    <title>{{title}}</title>
    <link rel="icon" href="{{icon}}" type="image/any-icon">
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      .wrapper {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
      ul {
        margin-top: 5px;
        list-style: none;
        white-space: nowrap;
      }
      li {
        display: inline-block;
        margin-right: 3px;
      }
      a {
        -webkit-transition: ease-in-out 0.3s;
        transition: ease-in-out 0.3s;
        text-decoration: none;
      }
      u {
          text-decoration: underline;
          text-decoration-style: dashed;
      }
      body {
        font-family: 'Inconsolata', monospace;
        background: #0e0e0eff;
        color: #eeeeeeff;
      }
      a {
        color: #eeeeee9d;
      }
      a:visited {
        color: #eeeeee9d;
      }
      a:hover {
        color: #eeeeeeb9;
      }
      .wrapper h1 {
        color: #696969ff;
      }
      .wrapper p {
        color: #eeeeeecc;
      }
      sup {
        color: #eeeeee9d;
        font-size: 12pt;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>{{name}}<sup>{{age}}</sup></h1>
      <br>{{pronouns}}
      <p>
      <br>
      {% for contact in contacts %}
        {{contact}}<br>
      {% endfor %}
      <br>
      {% for url in urls %}
        <a href="{{url}}"><u>{{url}}</u></a><br>
      {% endfor %}
      </p>
    </div>
  </body>
</html>